Repository gdcc/pyDataverse, pull requests merged in 2024-08, with the labels that each got.

#199 Update Docs Occurrences of requests.Response
  pyDataverse/api.py
  pyDataverse/docs/source/conf.py
  pyDataverse/docs/source/index.rst
  pyDataverse/docs/source/user/advanced-usage.rst
  pyDataverse/docs/source/user/basic-usage.rst
Labels: pkg:docs

#197 Update DV_VERSION to 6.3
  docker/docker-compose-test-all.yml
Labels: pkg:testing

#201 Rework auth/api_token parameters
  pyDataverse/api.py
  pyDataverse/auth.py
  pyDataverse/docs/source/reference.rst
  pyproject.toml
  tests/api/test_api.py
  tests/auth/__init__.py
  tests/auth/test_auth.py
Labels: pkg:api

#214 Remove trailing slash of `base_url` upon `Api` initialization
  pyDataverse/api.py
Labels: pkg:api

#212 Fix `get_datasets_by_data_location` docstring displaying wrong `GET` url
  pyDataverse/api.py
Labels: pkg:docs
